/* =================== */
/* header top */
/* =================== */

.header-top {
  background-color: var(--lavender);
}

.nav-line {
  width: 70%;
}

/* =================== */
/* header - website name */
/* =================== */

.website-name {
  text-align: var(--text-center);
}

.website-name > span {
  font-family: var(--spectral-font);
  font-style: italic;
  font-size: 2.8rem;
}

/* =================== */
/* header - navigation */
/* =================== */

nav {
  text-align: var(--text-center);
}

nav > a {
  line-height: 1.5;
  text-transform: var(--uc);
  text-decoration: var(--decor-none);
  color: var(--dark-gray);
  font-size: 0.8rem;
}

nav > a:not(:last-child) {
  margin-right: 50px;
}

nav > a:hover {
  text-shadow: 1px 1px 1px var(--light-gray);
}

/* =================== */
/* header bottom */
/* =================== */

.header-bottom {
  background-image: url(../img/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-bottom .restaurant__title {
  font-size: 3rem;
  font-family: var(--spectral-font);
  margin: 0;
}

.header-bottom .restaurant__desc {
  width: 40%;
  font-size: 0.9rem;
  line-height: 1.5;
}

.header-bottom .restaurant__ad {
  display: block;
  font-weight: 600;
}
