:root {
  /* fonts */
  --roboto-font: "Roboto", sans-serif;
  --spectral-font: "Spectral", serif;
  /* main colors */
  --white: rgb(255, 255, 255);
  --lavender: rgb(234, 240, 255);
  --tomato: rgb(242, 116, 95);
  --light-gray: rgb(214, 214, 214);
  --gray: rgb(154, 154, 154);
  --dark-gray: rgb(54, 62, 80);
  /* Layer */
  --price-layer: rgba(250, 250, 250, 0.9);
  /* text */
  --uc: uppercase;
  --text-center: center;
  --decor-none: none;
}

* {
  box-sizing: border-box;
  font-family: var(--roboto-font);
}

/* =================== */
/* layers */
/* =================== */

.dark--layer {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}

/* =================== */
/* common styles */
/* =================== */

.text--center {
  text-align: var(--text-center);
}

.text--uc {
  text-transform: var(--uc);
}

.text--white {
  color: var(--white);
}

.text--tomato {
  color: var(--tomato);
}

.text--larger {
  font-size: 1.4rem;
}

.text--smaller {
  font-size: 0.7rem;
}

.decor--none {
  text-decoration: none;
}

/* =================== */
/* button styles */
/* =================== */

.btn {
  padding: 15px 25px;
  border: none;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn--tomato {
  background-color: var(--tomato);
  color: var(--white);
  text-transform: var(--uc);
}

.btn--white {
  background-color: var(--white);
  color: var(--tomato);
  text-transform: var(--uc);
}

.btn--transparent {
  background-color: transparent;
  border: 1px solid var(--white);
}

/* =================== */
/* gray line */
/* =================== */

.gray--line {
  border-bottom: 1px solid var(--light-gray);
}
