:root {
  --white: rgb(255, 255, 255);
  --lavender: rgb(234, 240, 255);
  --light-tomato: rgb(243, 130, 111);
  --tomato: rgb(242, 116, 95);
  --dark: rgb(43, 52, 59);
  --dark-blue: rgb(54, 62, 80);
  --grey: rgb(154, 154, 154);
  --white-layer: rgba(250, 250, 250, 0.9);
}
