.order-info > .dish-image {
  height: 230px;
  width: 300px;
}

.order-info > .dish-image > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.order-phone {
  width: 350px;
  height: 320px;
  background-color: var(--tomato);
}

.phone__info {
  font-weight: 400;
  letter-spacing: 1px;
}

.phone-block {
  background-color: rgba(255, 255, 255, 0.1);
}

.word {
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 3px;
}

/* ======================= */
/* 4 meals block */
/* ======================= */

.meals-container {
  width: 80%;
}

.meal-container {
  text-align: center;
}

.meal-container > .meal__type {
  font-family: var(--spectral-font);
  font-size: 1.5rem;
}

.meal__image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid var(--lavender);
  box-shadow: 0 2px 4px #fefefe;
}
